extends _layouts/master

block body

    .p-4

        // Load the array
        h1 Airtable data

        p Load data with cURL into the <code>content/data</code> folder.

        pre
            code curl "https://api.airtable.com/v0/appPNWkaKNwNCBVrH/Albums?maxRecords=99&view=Grid%20view" -H "Authorization: Bearer keyrRWBwLRqy2Bt1b" -o albums.json

        h2 Render the data

        table.table.table-sm
            thead
                tr
                    // th Created
                    th Image
                    th Name
                    th Release date
            each item in contentData.albums.records
                tr
                    // td #{item.createdTime}
                    td
                        if item.fields.image
                            img(height="100" src=item.fields.image[Object.keys(item.fields.image)[0]].url)
                    td #{item.fields.artistName} - #{item.fields.albumName}
                    td #{item.fields.releaseDate}

        h1 JSON Data

        p JSON data is loaded by placing the JSON file in the content/data folder.

        pre= JSON.stringify(contentData.exampleJson, null, 2)

        h1 Loop examples

        h2 Looping an array
        ul
            each person in contentData.exampleArray
                li
                    span= person.id
                    span Hello, my name is #{person.firstName} #{person.lastName}!

        h2 Looping an object

        each type, typeName in contentData.exampleObject
            ul
                li= typeName
                ul
                    each product in type
                        li= product
